{% extends "base.html" %}

{% block content %}
<h2>Download-Verlauf</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Benutzer</th>
            <th>Datei</th>
            <th>Ordner</th>
            <th>Zeitpunkt</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in history %}
        <tr>
            <td>{{ entry.user }}</td>
            <td>{{ entry.file }}</td>
            <td>{{ entry.from }}</td>
            <td>{{ entry.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
