{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<h2>➕ Dodaj użytkownika</h2>
<form method="post">
    <div class="mb-3">
        <label>Nazwa użytkownika</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label>Hasło</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" name="is_admin" class="form-check-input" id="adminCheck">
        <label class="form-check-label" for="adminCheck">Administrator</label>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
{% endblock %}
